@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
    --color-1:#FD99FF;
    --color-2:#FF9E9E;
    --color-3:#91F48F;
    --color-4:#FFF599;
    --color-5:#9EFFFF;
    --color-6:#B69CFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background_image {
  height: 60%;
  width: 80%;
  position: absolute;
  z-index: -4;
}

#newbTn {
  height: 50px;
  width: 50px;
  background-color: #92e3a9;
  border-radius: 50%;
  border: none;
  position: relative;
  top: 32%;
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#newbTn > img {
    height: 40px;
    width: 40px;
}

/* Some click animation on buttons */
.tap,
.tap99,
.tap97,
.tap95 {
   transition-duration: 100ms;
}

.tap {
   &:active {
      scale: 0.95;
   }
}

.tap99 {
   &:active {
      scale: 0.99;
   }
}

.tap97 {
   &:active {
      scale: 0.97;
   }
}

.tap95 {
   &:active {
      scale:0.85;
}
}

.Nform {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 250ms ease;
}

.Nform_active {
    clip-path: circle(70.7% at 50% 50%);
}


.colorOPT {
    height: 10%;
    width: 96%;
    margin: .4rem 0 0 .2rem;
    display: flex;
    align-items: center;
}
.colorSlide{
    height: 100%;
    width: 80%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.colorSlide::-webkit-scrollbar{
    display: none;
}
.crossBtn{
    height: 100%;
    width: 20%;
    border-radius: .5rem;
    margin-left: .4rem;
    background: var(--color-1);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px 2px rgb(189, 189, 189);
}
.color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background: blue; */
    outline: 1px solid white;
    box-shadow: 1px 1px 5px 2px rgb(167, 166, 166);
    transition: backgro;
}
.color:nth-child(1){
    background: var(--color-1);
}
.color:nth-child(2){
    background: var(--color-2);
}
.color:nth-child(3){
    background: var(--color-3);
}
.color:nth-child(4){
    background: var(--color-4);
}
.color:nth-child(5){
    background: var(--color-5);
}
.color:nth-child(6){
    background: var(--color-6);
}


.headingSec {
    height: 10%;
    width: 98%;
    margin: .4rem 0 0 .2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 2px rgb(189, 189, 189);
}
.heading{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: inherit;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 10px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: var(--color-1);
}

.textSec {
    height: 65%;
    width: 98%;
    border-radius:1rem;
    margin: .4rem 0 0 .2rem;
    box-shadow: 1px 1px 4px 2px rgb(189, 189, 189);
}
.textNote {
    height: 100%;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    border-radius: inherit;
    background: var(--color-1);
    padding: 1rem;
    font-size: 1rem;
}

.createbTn{
    height: 10%;
    width: 98%;
    border-radius:1rem;
    margin: .4rem .4rem 0 .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-1);
    font-weight: bold;
    letter-spacing: .1rem;
    /* outline: 2px solid black; */
    box-shadow: 1px 1px 4px 2px rgb(189, 189, 189);
}
.crossBtn > img {
    transform: rotate(45deg);
}