* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background: url(images/Notebook-bro.png);
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 60%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.create {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    inset: 80% 0 0 80% ;
    background: #92E3A9;
}
.animate{
    animation: outline 200ms ease reverse;
}
@keyframes outline {
    0%{
        outline-offset: 10px;
        outline: 0px solid #92E3A9;
    }
    50% {
        outline-offset: 5px;
        outline: 3px solid #92E3A9;
    }
    100%{
        outline-offset: 0px;
        outline: 8px solid #92E3A9;
    }
}

.plus_icon {
    position: absolute;
    height: 50px;
    z-index: 2;
}

.note_form {
    height: 100%;
    width: 100%;
    position: absolute;
    background: red;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 350ms ease-out;
}

.note_form_note{
    clip-path: circle(100% at 50% 50%);
}

.color {

}