@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

:root {
  --color-1: #fd99ff;
  --color-2: #ff9e9e;
  --color-3: #91f48f;
  --color-4: #fff599;
  --color-5: #9effff;
  --color-6: #b69cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #252525;
}

main {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes {
  height: 80%;
  width: 80%;
  position: absolute;
  /* background: yellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  top: 20%;
  /* padding: 1rem; */
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.notes::-webkit-scrollbar {
  display: none;
}
.note {
  height: 120px;
  width: 100%;
  border-radius: 1rem;
  /* background: red; */
  padding: 3rem;
  margin-bottom:1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4rem;
}

#background_image {
  height: 60%;
  width: 80%;
  position: absolute;
  z-index: -4;
}

#newbTn {
  height: 50px;
  width: 50px;
  background-color: #252525;
  border-radius: 50%;
  border: none;
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 0px 10px 0px #000000, 5px 0px 10px 0px #000000;
}
#newbTn > img {
  height: 40px;
  width: 40px;
}

/* Some click animation on buttons */
.tap,
.tap99,
.tap97,
.tap95 {
  transition-duration: 100ms;
}

.tap {
  &:active {
    scale: 0.95;
  }
}

.tap99 {
  &:active {
    scale: 0.99;
  }
}

.tap97 {
  &:active {
    scale: 0.97;
  }
}

.tap95 {
  &:active {
    scale: 0.85;
  }
}

.Nform {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: #252525;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 250ms ease;
}

.Nform_active {
  clip-path: circle(70.7% at 50% 50%);
}

.colorOPT {
  height: 10%;
  width: 96%;
  margin: 0.4rem 0 0 0.2rem;
  display: flex;
  align-items: center;
}
.colorSlide {
  height: 100%;
  width: 80%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.colorSlide::-webkit-scrollbar {
  display: none;
}
.crossBtn {
  height: 100%;
  width: 20%;
  border-radius: 0.5rem;
  margin-left: 0.4rem;
  background: var(--color-1);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 1px 1px 4px 2px rgb(189, 189, 189); */
  transition: background 300ms ease;
}
.color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* outline: 1px solid white; */
  /* box-shadow: 1px 1px 5px 2px rgb(167, 166, 166); */
}
.color:nth-child(1) {
  background: var(--color-1);
}
.color:nth-child(2) {
  background: var(--color-2);
}
.color:nth-child(3) {
  background: var(--color-3);
}
.color:nth-child(4) {
  background: var(--color-4);
}
.color:nth-child(5) {
  background: var(--color-5);
}
.color:nth-child(6) {
  background: var(--color-6);
}

.headingSec {
  height: 10%;
  width: 98%;
  margin: 0.4rem 0 0 0.2rem;
  border-radius: 1rem;
  /* box-shadow: 1px 1px 4px 2px rgb(189, 189, 189); */
  /* box-shadow: -5px 0px 10px 0px #000000; */
}
.heading {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: inherit;
  resize: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 10px;
  letter-spacing: 0.1rem;
  color: white;
  background: var(--color-1);
  transition: background 300ms ease;
}
.heading::placeholder {
  color: white;
}

.textSec {
  height: 65.5%;
  width: 98%;
  border-radius: 1rem;
  margin: 0.4rem 0 0 0.2rem;
  /* box-shadow: 1px 1px 4px 2px rgb(189, 189, 189); */
}
.textNote {
  height: 100%;
  width: 100%;
  color: white;
  resize: none;
  outline: none;
  border: none;
  border-radius: inherit;
  background: var(--color-1);
  padding: 1rem;
  font-size: 1rem;
  transition: background 300ms ease;
}
.textNote::placeholder {
  color: white;
}
.createbTn {
  height: 10%;
  width: 98%;
  color: white;
  border-radius: 1rem;
  margin: 0.4rem 0.4rem 0 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-1);
  font-weight: bold;
  letter-spacing: 0.1rem;
  /* outline: 2px solid black; */
  /* box-shadow: 1px 1px 4px 2px rgb(189, 189, 189); */
  transition: background 300ms ease;
}
.crossBtn > img {
  transform: rotate(45deg);
}
